/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */


.site-header{
	background : #0078c2;
	padding: 20px;
}

.site-header a{
	color:#fff;
}

.nav-primary{
	width:20%;
	position: absolute;
	left:20px;
	top:113px;
	border-top:1px solid #eee;
	padding-top:50px;
}

.nav-primary h2{
	font-style:italic;
	color: #ccc;
	font-size: 22px;
	font-weight:normal;
}

.nav-primary ul{
	list-style-type:none;
	margin-top: 30px;
}

.nav-primary li{
	padding:15px;
	background : #7fbbe0;
	border-bottom: 1px solid #fff;
}

.nav-primary a{
	color: #fff;
}

main.pattern{
	position: relative;
	left:25%;
	width:70%;
	top:50px;
	border-top:1px solid #eee;
	padding-top:50px;
}

main.pattern h1{
	font-weight:bold;
	font-size :22px;
}

main.pattern h2{
	margin:1.5em 0;
	font-size:20px;
	font-weight: bold;
}

